<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} Star Exclusive Admin {% endblock title %}</title>

    
    <body class= "overflow-x-hidden bg-gray-800 text-white w-screen h-screen grid grid-cols-[64px,1fr] lg:grid-cols-[16rem,1fr] grid-rows-[64px,1fr]" >
        
        <div class="col-start-1 col-end-3 shadow-md shadow-slate-400/5">
            <div class="h-full w-full items-center flex bg-gray-800 text-white p-4">
                <div class="flex-shrink-0">
                  <!-- Logo or application icon -->
                  <img src="logo.png" alt="Logo" class="h-8 w-8">
                </div>
                <span class="mx-6 text-xl">Star Exclusive</span>
                <div class="ml-auto mx-6">
                  <!-- Navigation links -->
                  <ul class="flex space-x-4">
                    <li>
                      <a href="#" class="hover:text-gray-300">Home</a>
                    </li>
                    
                  </ul>
                </div>
                <div class="flex-shrink-0">
                  
                  <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded ml-2">
                    Logout
                  </button>
                </div>
              </div>
              
        </div>
    
        <div class="flex flex-col bg-gray-800 overflow-x-hidden shadow-md shadow-white/5">
            <div class="p-4 my-1 bg-gray-800 text-white text-sm font-semibold">Menu</div>
            <ul class="flex-grow">
              <li>
                <a href="{% url 'hsr_admin:category_list' %}" class="block p-4 hover:bg-gray-900">Room Category</a>
              </li>
              <li>
                <a href="{% url 'hsr_admin:room_list' %}" class="block p-4 hover:bg-gray-900">Rooms</a>
              </li>
              <li>
                <a href="{% url 'hsr_admin:reservation_list' %}" class="block p-4 hover:bg-gray-900">Reservation</a>
              </li>
              <li>
                <a href="#" class="block p-4 hover:bg-gray-900">Customers</a>
              </li>
            </ul>
            <div class="mt-auto p-4">
              <button class="w-full bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded">
                Logout
              </button>
            </div>
          </div>
          
    
        <div class="col-start-2 row-start-2 overflow-y-auto">
            
            {% block body %}
                
            {% endblock body %}
                
        </div>
            
    </body>
        
  </head>
  <body></body>
</html>
