<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} Star Exclusive Admin {% endblock title %}</title>

    
    <body class= "overflow-x-hidden bg-gray-800 text-white w-screen h-screen grid grid-cols-[64px,1fr] lg:grid-cols-[16rem,1fr] grid-rows-[64px,1fr]" >
        
        <div class=" col-start-1 col-end-3 shadow-md shadow-slate-400/5">
            <div class="h-full w-full items-center space-x-4 px-4 flex bg-gray-800 text-white p-4">
                <div class="flex-shrink-0">
                  <!-- Logo or application icon -->
                  <!-- <img src="logo.png" alt="Logo" class="h-8 w-8"> -->
                  <div class="h-8 w-9 flex items-center justify-center font-extrabold text-slate-400">
                    Star
                  </div>
                </div>
                <span class="text-xl !mr-auto">Star Exclusive</span>

                {% block actions %}
                    
                  {% endblock actions %}
                <div class="mx-6">
                  <!-- Navigation links -->
                  <a href="{% url 'hsr_admin:home' %}
" class="bg-gray-500 hover:bg-indigo-600 text-white font-
bold py-2 px-4 rounded ml-2">                                              HOME
                  </a>
                </div>
                <div class="flex-shrink-0">
                  
                  <a href="{% url 'hsr_admin:logout' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded ml-2">
                    Logout
                  </a>
                </div>
              </div>
              
        </div>
    
        <div class="flex flex-col bg-gray-800 overflow-x-hidden shadow-md shadow-white/5">
            <div class="p-4 my-1 bg-gray-800 text-white text-sm font-semibold">Menu</div>
            <ul class="flex-grow">
              <li>
                <a href="{% url 'hsr_admin:category_list' %}" class="block p-4 hover:bg-gray-900">Room Category</a>
              </li>
              <li>
                <a href="{% url 'hsr_admin:room_list' %}" class="block p-4 hover:bg-gray-900">Rooms</a>
              </li>
              <li>
                <a href="{% url 'hsr_admin:reservation_list' %}" class="flex space-x-4 items-center p-4 hover:bg-gray-900">
                  <span>Reservation</span>
                  <div class="py-2 px-8 bg-indigo-500 text-white rounded-lg"> {{status__}} new</div>
                </a>
              </li>
              <li class="hidden">
                <a href="#" class="block p-4 hover:bg-gray-900">Customers</a>
              </li>
            </ul>
            <div class="mt-auto p-4">
              <a href="{% url 'hsr_admin:logout' %}" class="flex items-center justify-center text-center w-full bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded">
                <span>Logout</span>
              </a>
            </div>
          </div>
          
    
        <div class="col-start-2 row-start-2 overflow-y-auto">
            
            {% block body %}
                
            {% endblock body %}
                
        </div>
            
    </body>
        
  </head>
  <body></body>
</html>
