{% extends 'hsr_admin/base.html' %} {% block body %}

<div class=" overflow-x-hidden">
  <div class="p-6 ">
    <h2 class="text-2xl mb-4 text-white">Reservation Details</h2>
    <p class="mb-2 text-white">Reservation ID: {{ reservation.id }}</p>
    <p class="mb-2 text-white">Arrival Date: {{ reservation.arrival_date }}</p>
    <p class="mb-2 text-white">Departure Date: {{ reservation.departure_date }}</p>
    
    <hr class="my-6 border-white">
    
    <h2 class="text-2xl mb-4 text-white">Customer Details</h2>
    <p class="mb-2 text-white">First Name: {{ reservation.customer.first_name }}</p>
    <p class="mb-2 text-white">Last Name: {{ reservation.customer.last_name }}</p>
    <p class="mb-2 text-white">Email Address: {{ reservation.customer.email_address }}</p>
    <p class="mb-2 text-white">Phone Number: {{ reservation.customer.phone_number }}</p>
    
    <hr class="my-6 border-white">
    
    <h2 class="text-2xl mb-4 text-white">Room Details</h2>
    <p class="mb-2 text-white">Category: {{ reservation.room.category.title }}</p>
    <p class="mb-2 text-white">Room Number: {{ reservation.room.number }}</p>
    <p class="mb-2 text-white">Room Title: {{ reservation.room.title }}</p>
    <p class="mb-2 text-white">Room Price: N{{ reservation.room.category.price }}</p>
  </div>
</div>

<div class="p-8 space-y-4">
  <span class="text-2xl">Are you sure</span>
  <p class="text-lg">You are about to delete the following reservation</p>

  <form action="" method="post">
    {% csrf_token %}
    <div class="flex space-x-4">
      <button
        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded"
      >
        Delete
      </button>
      <a
        href="{% url 'hsr_admin:reservation_list' %}"
        class="bg-slate-500 hover:bg-slate-600 text-white font-semibold py-2 px-4 rounded"
      >
        Cancel
      </a>
    </div>
  </form>
</div>
{% endblock body %}
