
<div class="flex lg:px-16 flex-col px-4 space-y-4">
    <div class="flex flex-col lg:flex-row justify-center lg:space-x-4 my-4">
      <div class="flex flex-col w-full">
        <label for="">First Name</label>
        <input
        min="12/12/2023"
        class="bg-transparent border-white w-full shadow-md px-8 py-4 outline-none border-2 border-black/40 rounded-md hover:border-indigo-600"
        type="text"
        name="first_name"
      />
      </div>

      <div class="flex flex-col w-full">
        <label for="">Last Name</label>
        <input
        min="12/12/2023"
        class="bg-transparent border-white w-full shadow-md px-8 py-4 outline-none border-2 border-black/40 rounded-md hover:border-indigo-600"
        type="text"
        name="last_name"
      />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row justify-center lg:space-x-4 my-4">
      <div class="flex flex-col w-full">
        <label for="">Email Address</label>
        <input
        min="12/12/2023"
        class="bg-transparent border-white w-full shadow-md px-8 py-4 outline-none border-2 border-black/40 rounded-md hover:border-indigo-600"
        type="email"
        name="email_address"
      />
      </div>

      <div class="flex flex-col w-full">
        <label for="">Phone Number</label>
        <input
        min="12/12/2023"
        class="bg-transparent border-white w-full shadow-md px-8 py-4 outline-none border-2 border-black/40 rounded-md hover:border-indigo-600"
        type="text"
        name="phone_number"
      />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row justify-center lg:space-x-4 my-4">
        <div class="flex flex-col w-full">
          <label for="">Identification Type</label>
          <select
          min="12/12/2023"
          class="bg-transparent border-white w-full shadow-md px-8 py-4 outline-none border-2 border-black/40 rounded-md hover:border-indigo-600"
          type="email"
          name="email_address"
        >
        <option class="bg-slate-800 p-4 block" value="international_passport">International Passport</option>
        <option class="bg-slate-800 p-4" value="national_id">National ID Card (NIMC)</option>
        <option class="bg-slate-800 p-4" value="drivers_liense">Drivers License </option>
        <option class="bg-slate-800 p-4" value="national_voter_card">Voters ID Card (Nigerian Issued)</option>
    </select>
        </div>
  
        <div class="flex flex-col w-full">
          <label for="">Identification Number</label>
          <input
          min="12/12/2023"
          class="bg-transparent border-white w-full shadow-md px-8 py-4 outline-none border-2 border-black/40 rounded-md hover:border-indigo-600"
          type="text"
          name="phone_number"
        />
        </div>
      </div>


  </div>